<script type="text/javascript">
$(function(){
  app.ships = new app.Collections.ShipCollection;
  app.board = new app.Views.PlacementBoardView({
    collection: new app.Collections.CellCollection
  });
  app.gameFormView = new app.Views.GameFormView;
  app.aresenalView = new app.Views.AresenalView({collection: app.ships});

  app.ships.reset(<%=raw(
  render :template  => 'ships/index',
         :object    =>  Ship.all, :formats =>[:json])%>);

});
</script>

<div id="container">
<%= form_for @game do |f| %>
  <div id="fields">
    <%= f.email_field :email, :placeholder => "example@example.org" %>
    <%= f.text_field :full_name, :placeholder => "your full name" %>
      <%=f.submit%>
      <div id="notifications"></div>
    <ul id="aresenal">

    </ul>
  </div>

  <!-- todo htmlsafe -->
  <table id="placement-board">
    <% board_size.times do|r|%>
      <tr class="row<%=r%>">
        <% board_size.times do|c|%>
          <td class="cell col<%=c%>"></td>
        <%end%>
      </tr>
    <%end%>
  </table>
<% end %>


</div>